body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(243, 243, 243);

}
.sidebar {
    width: 250px;
    height: 100vh;
    background : #333;
    color: white;
    padding-top: 150px;
    left: 0;
}
.sidebar a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.Otsikko {
    margin-left: 50px;
    padding: 20px;
    padding-top: 140px;
}
.image {
    margin-left: -615px;
    margin-top: 50px;
}
.alatekstit {
    padding: 150px;
    margin-left: 50px;
}