body {
  color:rgb(0, 0, 0);
  background-color: rgba(243, 243, 243);
  font-family: Arial;
  margin: 35px 0px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:#333;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .imagelogo {
    position:relative
}
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: blueviolet;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 100px;
    height: 1000px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .mainokset {
    margin-left: 55%;
    margin-top: 9.5%;
    position: fixed;
    top: 0;
    }

  .footer {
    left: 3.5%;   
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color:#333;
    color: white;
    text-align: center;
    position: fixed;
  }