body {
    color:rgb(0, 0, 0);
    background-color: rgba(243, 243, 243);
    font-family: Arial;
    margin: 40px 20px;
  }
  h1 { 
    font-weight:normal; 
    margin: 0; margin: 2.6% -1.4%;
    font-size: 45px;
} 
.teksti1 {
    font-size: 25px;
    margin: 0%; margin: 0% 6.3%;
}
.imagelogo {
    position:relative
}
.kuvake { 
    margin: 0%; margin: 0% 6.3%;
}

.kuvateksti1 {
    color: white;
    background: black;
    margin: 0%; margin: -1% 6.3%;
    font-style: italic;
    width: 572px;
}

  .sidebar {
      margin: 0;
      padding: 0;
      padding-top: 0;
      width: 200px;
      background-color:#333;
      position: absolute;
      height: 100%;
      overflow: auto;
    }
  
    .sidebar a {
      display: block;
      color: white;
      padding: 16px;
      text-decoration: none;
    }
  
    .sidebar a.active {
      background-color: blueviolet;
      color: white;
    }
  
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
  
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }